<nav id="nav-header">
    <!-- <ul id="ul-header">
        <li      >Home</li>
        <li class="li-header">Custom</li>
        <li class="li-header">Sedan</li>
        <li class="li-header">SUV</li>
        <li class="li-header">Truck</li>
    </ul> -->
    <%- nav %>
</nav>